Gemfile
_site/articles.html
_site/avatar.jpg
_site/contact.html
_site/fb-splash.png
_site/index.html
_site/individual.html
_site/services.html
_site/small-business-retainer.html
_site/splash2.jpg
_site/technical.html
_site/test.html
_site/workload-relief-contractor.html
_site/articles/ms-access-database.html
_site/assets/css/style.css
_site/assets/images/bg_hr.png
_site/assets/images/blacktocat.png
_site/assets/images/icon_download.png
_site/assets/images/ms-access.jpg
_site/assets/images/sprite_download.png
_site/blog/js.html
_site/blog/js/firebase-nodemailer-free-account.html
_site/blog/js/formik.html
_site/blog/js/function-parameters-with-default-and-required-values.html
_site/blog/js/hooks-in-react.html
_site/blog/js/mock-out-api-service-layer-using-the-factory-design-pattern.html
_site/blog/js/problems-installing-react-snap.html
_site/blog/js/problems-with-expo-and-react-native.html
_site/blog/js/promise-chain-ignore-some-errors.html
_site/blog/js/promise-stacktrace.html
_site/blog/js/uncaught-error-in-event-handler.html
Gemfile.lock
_site/software-developer-retainer.html
_site/assets/images/cec_mobile_detail.png
_site/assets/images/cec_mobile_list.png
_site/assets/images/cec_mobile_logon.png
_site/assets/images/cec_mobile_menu.png
_site/assets/images/cec_mobile_message.png
_site/software-developer-retainer.html
_site/assets/images/cec_mobile_detail.png
_site/assets/images/cec_mobile_list.png
_site/assets/images/cec_mobile_logon.png
_site/assets/images/cec_mobile_menu.png
_site/assets/images/cec_mobile_message.png
