---
---

@import "{{ site.theme }}";
img.avatar {border-radius:50%; width:80px}
img.avatar-small {
border:none;
border-radius:50%; 
width:50px;
margin:5px;
}

header a {color:#fff; 
text-decoration:underline;
}
.hmj-home-icon {
text-align:center;
#padding:1rem;
font-size:3rem;
}

.center{
text-align: center;
}

a.button{
padding:1rem 2rem;
border:2px solid #267CB9;
border-radius: 25px;
}

.small {
font-size:0.75rem;
}

header {color:white;}
footer{padding-bottom:2rem;}


h2 a, h3 a {
color:#267CB9;
text-decoration:none;
}

#project_title a{
text-decoration:none;
color:#fff;
}

.box{
border:2px solid #f7941d;
border-radius: 10px;
margin: 1.5rem 1rem;
}

div.content {
padding:10px;
}
div.box h3 {
padding:10px;
background-color:#f7941d;
color:#fff;
font-size:1rem; margin-top:0px;}

.splash .h1 {font-size:2rem}
