---
---

@import "{{ site.theme }}";
img.avatar {border-radius:50%; width:80px}
img.avatar-small {
border:none;
border-radius:50%; 
width:50px;
margin:5px;
}

header a {color:#fff; 
text-decoration:underline;
}
.hmj-home-icon {
text-align:center;
#padding:1rem;
font-size:3rem;
}

.center{
text-align: center;
}

a.button{
padding:1rem 2rem;
border:2px solid #267CB9;
border-radius: 25px;
}

.small {
font-size:0.75rem;
}

header {color:white;}
footer{padding-bottom:2rem;}


#a:visited {color:#004080;}
