---
---

@import "{{ site.theme }}";
img.avatar {border-radius:50%; width:80px}
#avatar {text-align:middle}
header a {color:#fff; 
text-decoration:underline;
}
.hmj-home-icon {
text-align:center;
#padding:1rem;
font-size:3rem;
}

a.button{
padding:1rem 2rem;
border:1px solid #c30
}
